<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form [formGroup]="editTaskForm" (ngSubmit)="onEditTask()">
                <h2 class="text-danger mt-3">Edit Task</h2>
                <label for="title" class="form-label">Title : </label>
                <input type="text" class="form-control" id="" formControlName="title">
                <label for="description" class="form-label">Description : </label>
                <input type="text" class="form-control" id="" formControlName="description">
                <label for="dueDate" class="form-label">Due Date : </label>
                <input type="date" class="form-control" id="" formControlName="dueDate">
                <label for="priority" class="form-label">Select the priority</label>
                <select formControlName="priority" class="form-control">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <label for="assigneeId" class="form-label">Select the assignee</label>
                <select formControlName="assigneeId" class="form-control">
                    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                </select>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="editTaskForm.invalid">Update</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-4">
            <h3>CheckLists</h3>
            <ul>
                <li *ngFor="let checkList of currentTask?.checkLists" [ngClass]="{'text-success' : checkList.isDone == true , 'text-warning' : checkList.isDone == false}">{{checkList.name}}</li>
            </ul>
        </div>
        <div class="col-6"></div>

    </div>
</div>