<!-- <a [routerLink]="['/tasks']">Tasks</a> 
<a [routerLink]="['/users']">Users</a> -->
<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button" [routerLink]="['register']">Sign Up</button>
        <button class="btn btn-outline-success me-2" type="button" [routerLink]="['logIn']">Log In</button>
    </form>
</nav>
<main class="d-flex flex-nowrap">
    <h1 class="visually-hidden">Sidebars examples</h1>

    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home" />
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" [routerLink]="['/tasks']" (click)="setBg($event)">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2" />
                    </svg>
                    Tasks
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" [routerLink]="['/users']" (click)="setBg($event)">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    Users
                </a>

            </li>
        </ul>
        <hr>
    </div>

    <div class="b-example-divider b-example-vr"></div>

    <div class="container-fluid">
        <router-outlet style="position: absolute;"></router-outlet>
    </div>
</main>
