<div class="container">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
                <h2 class="text-danger mt-3">Sign In</h2>
        
                <div class="input-group mt-2">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input type="text" formControlName="email" class="form-control" placeholder="Your Email">

                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="text" formControlName="password" class="form-control" placeholder="Password">

                </div>
                <div class="row mt-2">
                    <div class="col-1">
                        <input type="checkbox" class="form-check-input fs-4 ms-4" id="" >
                    </div>
                    <div class="col-5 mt-1">
                        <p>Remember Me</p>
                    </div>
                    <div class="col-6"></div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary mt-3" [disabled]="this.logInForm.invalid">
                        Log In
                    </button>
                </div>            
            </form>
            <a [routerLink]="['/register']" class="text-center mt-2">Create an account</a>
        </div>
        <div class="col-1"></div>
        <div class="col-4"><img src="signIn.jpg"></div>
        <div class="col-1"></div>
    </div>